<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Delete Profile</title>
  </head>
  <body>
    <center>
      <h2>Delete Profile</h2>
      <p>
        Are you sure you want to delete your profile? This action cannot be
        undone.
      </p>
      <form action="/deleteProfile" method="POST">
        <table>
          <tr>
            <td colspan="2">
              <button type="submit" style="background-color: red; color: white">
                Confirm Delete
              </button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="/profile" style="text-decoration: none">Cancel</a>
            </td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
