<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Users</title>
  </head>
  <body>
    <div class="navbar">
      <h2 id="heading">Welcome <%= userName %></h2>

      <% if(loggedIn) { %> <% if(!verified) { %>
      <a href="/verify" id="verification-link">Verify Your Email</a>
      <% } else { %>
      <a href="/users" class="loginOrNot" id="verification-link">Users</a>
      <% } %>
      <a href="/logout" class="loginOrNot">Logout</a>
      <% } else { %>
      <a href="/login" class="loginOrNot" id="login-button">Login</a>
      <% } %>
    </div>
  </body>
</html>
