<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <title>Login</title>
    <script>
      // JavaScript function to toggle password visibility
      function togglePassword() {
        var passwordField = document.getElementById("userPassword");
        var toggleIcon = document.getElementById("togglePasswordIcon");

        if (passwordField.type === "password") {
          passwordField.type = "text"; // Show password
          toggleIcon.classList.remove("fa-eye-slash");
          toggleIcon.classList.add("fa-eye");
        } else {
          passwordField.type = "password"; // Hide password
          toggleIcon.classList.remove("fa-eye");
          toggleIcon.classList.add("fa-eye-slash");
        }
      }
    </script>
  </head>
  <body>
    <center>
      <form action="/login" method="POST" name="login" id="login">
        <h2>Login</h2>
        <table>
          <tr>
            <th><label for="user">Email/Username:</label></th>
            <td>
              <input
                type="text"
                name="user"
                value="<%= user ? user.user : '' %>"
              />
            </td>
          </tr>
          <% if (errors && errors.users) { %>
          <tr>
            <td colspan="2" style="color: red">
              <strong><%= errors.users %></strong>
            </td>
          </tr>
          <% } %>

          <tr>
            <th><label for="userPassword">Password:</label></th>
            <td class="password-container">
              <input
                type="password"
                name="userPassword"
                id="userPassword"
                value="<%= user ? user.userPassword : '' %>"
              />
              <i
                class="fas fa-eye-slash toggle-password"
                id="togglePasswordIcon"
                onclick="togglePassword()"
              ></i>
            </td>
          </tr>
          <% if (errors && errors.password) { %>
          <tr>
            <td colspan="2" style="color: red">
              <strong><%= errors.password %></strong>
            </td>
          </tr>
          <% } %>

          <tr>
            <td colspan="2"><button type="submit">Submit</button></td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="/signup" id="verification-link"
                >Don't have an account?</a
              >
            </td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
