<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Login</title>
  </head>
  <body>
    <center>
      <form action="/login" method="POST" name="login" id="login">
        <h2>Login</h2>
        <table>
          <tr>
            <th><label for="user">Email/Username:</label></th>
            <td><input type="text" name="user" /></td>
          </tr>
          <tr>
            <th><label for="userPassword">Password:</label></th>
            <td><input type="password" name="userPassword" /></td>
          </tr>
          <tr>
            <td colspan="2"><button type="submit">Submit</button></td>
          </tr>
          <tr>
            <td colspan="2"><a href="/signup">Don't have an account?</a></td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
