<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Verification</title>
  </head>
  <body>
    <center>
      <form action="/verify" method="POST" name="login" id="login">
        <h2>Verification</h2>
        <table>
          <% if(!send) { %>
          <tr>
            <th><label for="email">Email:</label></th>
            <td>
              <input
                type="text"
                name="email"
                value="<%= defaultEmail %>"
                required
                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}"
                title="Please enter a valid email address"
              />
            </td>
          </tr>
          <% }; %> <% if(send) { %>
          <tr>
            <th><label for="otp">OTP:</label></th>
            <td><input type="text" name="otp" maxlength="6" /></td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="/change-mail">Change Email</a>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="/resend">Resend OTP</a>
            </td>
          </tr>

          <% }; %>
          <tr>
            <td colspan="2">
              <button type="submit"><%= buttonText %></button>
            </td>
          </tr>
        </table>
      </form>
    </center>
  </body>
</html>
